.para4 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.para3 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: start;
}

.para2 {
  margin:  0.1390in 0px 0.0835in 0px;
}

.para1 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: center;
}

.para0 {
  margin:  0.1665in 0px 0.0835in 0px;
  text-align: center;
}

.span15 {
  font-family: 'Ubuntu';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span14 {
  font-family: 'FreeMono';
}

.span1 {
  font-family: 'FreeMono';
  font-size: 40.0000pt;
}

.span2 {
  font-family: 'FreeMono';
  font-size: 40.0000pt;
  text-decoration:  underline;
}

.span4 {
  font-family: 'Chandas';
  font-size: 11.0000pt;
  font-style: italic;
}

.span13 {
  font-family: 'Ubuntu';
}

.span9 {
  font-family: 'Chilanka';
  font-size: 20.0000pt;
  font-style: italic;
}

.span3 {
  font-family: 'Dhurjati';
  font-size: 32.0000pt;
  font-style: italic;
}

.span12 {
  font-family: 'Chandas';
  font-size: 15.0000pt;
  font-style: italic;
}

.span5 {
  color: #000080;
  font-family: 'Chandas';
  font-size: 11.0000pt;
  font-style: italic;
  text-decoration:  underline;
}

.span0 {
  font-family: 'Chilanka';
  font-size: 82.0000pt;
  font-weight: bold;
}

.span6 {
  font-family: 'Chandas';
  font-size: 20.0000pt;
  font-style: italic;
}

.span7 {
  font-family: 'Ubuntu';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span11 {
  font-family: 'Dhurjati';
  font-size: 20.0000pt;
  font-style: italic;
}

.span8 {
  font-family: 'Ubuntu';
  font-size: 20.0000pt;
  font-style: italic;
}

.span10 {
  font-family: 'FreeMono';
  font-size: 20.0000pt;
  font-style: italic;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.frame0 {
  float: left;
  width: 5.5835in;
}
